# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.env.*

# Virtual env
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

tools/

resources_rc.py
# Resources
# Build
build/
dist/
*.spec

# Executables
*.exe
*.msi

# Qt
resources_rc.py

# Translations
translations/*.qm

# Supabase
supabase/*
!supabase/functions/

# Dev tools
tools/
app/utils/dev/

# Tests
tests/
pytest.ini

# Lint
.pylintrc
pylint_report.txt
