# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# IDE / editor configs
.vscode/
.idea/

# Virtual environments
venv/
env/

# Ignore all __init__.py
**/__init__.py

# Logs
logs/
*.log

tools/

resources_rc.py
# Resources
resources_rc.py

# Project tools / scripts
tools/

# Tests
tests/
pytest.ini


# Ignore all __init__.py
**/__init__.py

# Ignore pylint config and report file
pylint.py
.pylintrc
pylint_report.txt
